:root{
  --darker-blue: rgb(27, 150, 150);
  --lighter-blue: rgb(29, 199, 199);
}

.App{
  background: var(--darker-blue);
  min-height: 100vh;
  padding-bottom: 20px;
}

.container{
  margin: 0 auto;
  width: 1024px;
}